<ol class="breadcrumbs">
    @foreach(var item in Items)
    {
        <li class="breadcrumbs__item">
            <RouterLink Href="@item.Value" ComponentStyle="ComponentStyle.Secondary">
                <Content>@item.Key</Content>
            </RouterLink>
        </li>
    }
</ol>

@code {
    /// <summary>
    /// Breadcrumb items.
    /// </summary>
    [Parameter, EditorRequired]
    public IReadOnlyDictionary<string, string> Items { get; set; } = new Dictionary<string, string>();
}