.content-dialog, .content-dialog-bg {
    min-width: 370px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.content-dialog-bg {
    z-index: 1000;
    background-color: var(--block-secondary-color);
    opacity: .7;
    position: fixed;
}
.content-dialog {
    position: absolute;
    z-index: 1001;
}
.content-dialog__content {
    position: absolute;
    top: 70px;
    left: 50%;
    background-color: var(--block-primary-color);
}
.content-dialog__content_grand {
    width: 1530px;
    margin-left: -765px;
}
.content-dialog__content_small {
    width: 1152px;
    margin-left: -576px;
}
@media (max-width: 1919.98px) {
    .content-dialog__content_grand {
        width: 80vw;
        margin-left: -40vw;
    }
    .content-dialog__content_small {
        width: 60vw;
        margin-left: -30vw;
    }
}