@inject IStringLocalizer<ComponentResources> Localizer

@if (_isOpen)
{
    <div class="content-dialog-bg"></div>
    <div class="content-dialog">
        <div class="content-dialog__content @CssClass">
            <Panel Header="@Title" IsOpen="true">
                <Content>
                    @Content
                </Content>
                <Actions>
                    <Button OnClick="Close">
                        <Content>
                            @Localizer["Close"].Value
                        </Content>
                    </Button>
                </Actions>
            </Panel>
        </div>
    </div>
}

@code {
    /// <summary>
    /// Title of the dialog.
    /// </summary>
    [Parameter, EditorRequired]
    public string Title { get; set; } = default!;
    
    /// <summary>
    /// HTML content
    /// </summary>
    [Parameter, EditorRequired]
    public RenderFragment Content { get; set; } = default!;
    
    /// <summary>
    /// Is grand window
    /// </summary>
    [Parameter]
    public bool IsGrand { get; set; }
    
    private bool _isOpen;

    public void Open()
    {
        _isOpen = true;
        
        StateHasChanged();
    }
    
    public void Close()
    {
        _isOpen = false;
        
        StateHasChanged();
    }

    private string CssClass => IsGrand ? "content-dialog__content_grand" : "content-dialog__content_small";
}