.development__logo {
	width: 6.25rem;
	margin: 0 0 1.875rem 0;
}
.development__items {
	display: flex;
}
.development__item {
	flex: 0 1 33.333%;
	padding: 1.25rem;
	flex-direction: column;
	display: flex;
	align-items: center;
    margin: 0 3.75rem 0 0;
    background-color: #fff;
    color: #000;
}
.development__item:last-child {
    margin: 0;
}
.development__title {
	text-align: center;
	font-weight: 700;
}
@media (max-width: 767.98px) {
	.development__items {
		flex-direction: column;
	}
	.development__item {
		margin: 0 3.75rem 3.75rem 3.75rem;
	}
    .development__item:last-child {
        margin: 0 3.75rem 0 3.75rem;
    }
}
@media (max-width: 479.98px) {
	.development__item {
		margin: 0 0 2rem 0;
	}
    .development__item:last-child {
        margin: 0;
    }
}