.form-control {
    font-size: 1rem;
    width: 100%;
    padding: .625rem .3125rem;
    border: 3px solid var(--bg-secondary-color);
    border-radius: 0;
    color: var(--text-secondary-color);
    background-color: var(--text-primary-color);
    transition: border 0.3s;
}
.form-control:focus, .form-control_enabled:hover {
    border: 3px solid var(--block-secondary-color);
}
.form-control_disabled {
    background-color: var(--control-disabled-color);
    cursor: default;
}
.multiselect__item {
    display: inline-block;
    padding: 5px;
    margin-right: 5px;
}
.multiselect__item_selected {
    background-color: var(--bg-secondary-color);
    color: var(--text-primary-color);
}
.form-control_enabled .multiselect__item {
    cursor: pointer;
}