.form-control {
    width: 100%;
    padding: .625rem .3125rem;
    border: 3px solid #555;
    border-radius: 0;
    color: #000;
    background-color: #dfdfdf;
    transition: border 0.3s;
}
.form-control:focus, .form-control_enabled:hover {
    border: 3px solid #000;
}
.form-control_disabled {
    background-color: #aaa;
    cursor: default;
}
.multiselect__item {
    display: inline-block;
    padding: 5px;
    margin-right: 5px;
}
.multiselect__item_selected {
    background-color: #555;
    color: #dfdfdf;
}
.form-control_enabled .multiselect__item {
    cursor: pointer;
}