::deep .form-control {
    width: 100%;
    padding: .625rem .3125rem;
    border: 3px solid #555;
    border-radius: 0;
    color: #000;
    background-color: #dfdfdf;
    transition: border 0.3s;
}
::deep .form-control:focus, .form-control_enabled:hover {
    border: 3px solid #000;
}
::deep .form-control_disabled {
    background-color: #aaa;
    cursor: default;
}
::deep .form-control_select-list {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #dfdfdf url('imgs/arrow-down.png') calc(100% - 5px) center no-repeat;
    padding-right: 20px;
}