::deep .input-select {
    font-size: 1rem;
    width: 100%;
    padding: .625rem 1.25rem .625rem .3125rem;
    border: 3px solid var(--bg-secondary-color);
    border-radius: 0;
    color: var(--text-secondary-color);
    background-color: var(--text-primary-color);
    background: var(--text-primary-color) url('imgs/arrow-down.png') calc(100% - 5px) center no-repeat;
    transition: border 0.3s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
::deep .input-select:focus, ::deep .input-select_enabled:hover {
    border: 3px solid var(--block-secondary-color);
}
::deep .input-select_disabled {
    background-color: var(--control-disabled-color);
    cursor: default;
}