@inject ResourcesManager Resources

@if (State.Value != LoadingState.State.Done)
{
    <div class="loading">
        @if (State.Value == LoadingState.State.Loading)
        {
            <div class="loader @CssClass"></div>
        }
        else
        {
            <Button IsDark="IsDark" Message="Messages.LoadingReload" OnClick="Retry"></Button>
        }
    </div>
}
else
{
    @Content
}

@code {
    [Parameter, EditorRequired]
    public LoadingState State { get; set; } = LoadingState.Done();
    
    [Parameter, EditorRequired]
    public RenderFragment Content { get; set; } = default!;
    
    [Parameter, EditorRequired]
    public Func<Task> Retry { get; set; } = default!;
    
    [Parameter]
    public bool IsDark { get; set; }
    
    private string CssClass => IsDark ? "loader_dark" : "loader_light";
}