.no-data {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-height: 100px;
}
.no-data_dark {
    color: var(--text-secondary-color);
}
.no-data_light {
    color: var(--text-primary-color);
}