@inject IStringLocalizer<ComponentResources> Localizer

<div class="no-data @CssClass">
    <p>@Localizer["NoData"].Value</p>
</div>

@code {
    /// <summary>
    /// Style for component.
    /// </summary>
    [Parameter]
    public ComponentStyle ComponentStyle { get; set; } = ComponentStyle.Primary;
    
    private string CssClass => ComponentStyle switch
    {
        ComponentStyle.Primary => "no-data_primary",
        _ => "no-data_secondary"
    };
}