@inject ResourcesManager Resources

<div class="no-data @CssClass">
    <p>@Resources[Messages.Dashboard_NoData]</p>
</div>

@code {
    [Parameter]
    public bool IsDark { get; set; }
    
    private string CssClass => IsDark ? "no-data_dark" : "no-data_light";
}