.panel__header {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: var(--bg-secondary-color);
    gap: 20px;
    min-height: 70px;
}
.panel__header-text {
    flex: 1;
    font-size: 1.2rem;
}
.panel__body {
    padding: 10px;
}
.panel__actions {
    display: flex;
    align-items: center;
    gap: .5rem;
}