.component-container {
    height: 100%;
    position: relative;
}
.appraiser-integration__body {
    padding: 0 10px;
    height: calc(100% - 100px);
}
.component-actions {
    display: flex;
    justify-content: right;
    margin-top: 20px;
    padding: 0 10px;
}
.appraiser-integration__button {
    margin-left: 10px;
}
.appraiser-integration__controls, .appraiser-integration__bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.appraiser-integration__bg {
    z-index: 100;
    background-color: #9d9d9d;
}
.appraiser-integration__controls {
    z-index: 101;
}
.appraiser-integration__controls-body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
::deep form {
    height: 100%;
}