.component-container {
    position: relative;
}
.appraiser-integration__body {
    padding: 0 10px;
}
.component-actions {
    display: flex;
    justify-content: right;
    margin: 10px;
    gap: 10px;
}
.appraiser-integration__controls, .appraiser-integration__bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.appraiser-integration__bg {
    z-index: 100;
    background-color: var(--block-primary-color);
}
.appraiser-integration__controls {
    z-index: 101;
}
.appraiser-integration__controls-body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}