.about-bots__container {
    max-width: 90%;
    overflow: hidden;
    padding: 60px 0;
}
.about-bots {
    color: #000;
}
.about-bots__header {
    font-size: 2.3rem;
    line-height: 3.6rem;
}
.about-bots__description {
    font-size: 1.3rem;
    line-height: 2.6rem;
}
.about-bots__item {
    padding: 4px 10px;
    border-radius: 4px;
}
.about-bots__actions {
    margin-top: 20px;
    text-align: center;
    float: left;
}
.about-bots__link {
    margin-top: 10px;
    display: block;
}
@media (max-width: 479.98px) {
    .about-bots__header {
        font-size: 1.8rem;
        line-height: 3.1rem;
    }
    .about-bots__description {
        font-size: 1rem;
        line-height: 2rem;
    }
}