@page "/"
@page "/en"
@page "/ru"

@using Inc.TeamAssistant.WebUI.Features.Video

<Video FileName="source-tree-02"></Video>

<section id="feedback" class="feedback white">
    <div class="feedback__container">
        <RequestDemo />
    </div>
</section>