.feedback__container {
    max-width: 90%;
    padding-top: 100px;
}
.request-demo-text__header {
    font-size: 2.3rem;
    line-height: 3.6rem;
}
.request-demo-text__description{
    font-size: 1.3rem;
    line-height: 2.6rem;
}
.request-demo-text-item {
    background: rgba(0, 0, 0, .3);
    padding: 4px 10px;
    border-radius: 4px;
    text-shadow: #000 0 0 10px;
}
.request-demo-actions {
    margin-top: 20px;
    text-align: center;
    float: left;
}
.request-demo-actions__link {
    margin-top: 10px;
    display: block;
}
@media (max-width: 767.98px) {
    .feedback__container {
        padding-top: 60px;
    }
}
@media (max-width: 479.98px) {
    .request-demo-text__header {
        font-size: 1.8rem;
        line-height: 3.1rem;
    }
    .request-demo-text__description {
        font-size: 1rem;
        line-height: 2rem;
    }
}