.feedback-text__header {
    font-size: 2.3rem;
    line-height: 3.6rem;
}
.feedback-text__description{
    font-size: 1.3rem;
    line-height: 2.6rem;
}
.text-item {
    background: rgba(0, 0, 0, .3);
    padding: 4px 10px;
    border-radius: 4px;
    text-shadow: #000 0 0 10px;
}
@media (max-width: 479.98px) {
    .feedback-text__header {
        font-size: 1.8rem;
        line-height: 3.1rem;
    }
    .feedback-text__description {
        font-size: 1rem;
        line-height: 2rem;
    }
}