.review-total-stats {
    overflow: hidden;
}
.review-total-stats__item {
    float: left;
    width: 50%;
}
.component-container {
    height: calc(100% - 66px);
}
@media (max-width: 767.98px) {
    .review-total-stats__item {
        width: 100%;
    }
}