.review-total-stats {
    display: flex;
}
.review-total-stats__item {
    flex: 0 1 50%;
}
.component-container {
    height: calc(100% - 66px);
}
@media (max-width: 767.98px) {
    .review-total-stats {
        display: block;
    }
}