<ol class="breadcrumbs">
    @foreach(var item in Items)
    {
        <li class="breadcrumbs__item">
            <a href="@item.Url" class="link link_dark">@item.Title</a>
        </li>
    }
</ol>

@code {
    [Parameter, EditorRequired]
    public IReadOnlyCollection<BreadcrumbItem> Items { get; set; } = default!;
}