@inherits PersistentComponent<BotNotSelectedViewModel>

<p class="bot-not-selected">
    @ViewModel.SelectTeam <a href="@MoveToCreateBot()" class="link link_light">@ViewModel.CreateBot</a>
</p>

@code {
    protected override Task<BotNotSelectedViewModel> Initialize(ResourcesManager resources)
    {
        return Task.FromResult(new BotNotSelectedViewModel(
            resources[Messages.Dashboard_SelectTeam],
            resources[Messages.Dashboard_CreateBot]));
    }

    private string MoveToCreateBot() => LinkBuilder.Build("constructor");
}