@inject IStringLocalizer<DashboardResources> Localizer
@inject NavRouter NavRouter

<DashboardWidget Title="@Localizer["BotWidgetTitle"]">
    <p class="bot-not-selected">
        @Localizer["SelectTeam"] <RouterLink Href="@NavRouter.CreateRoute("constructor")">
            @Localizer["CreateBot"]
        </RouterLink>
    </p>
</DashboardWidget>