@inject ResourcesManager Resources
@inject NavRouter NavRouter

<DashboardWidget Title="@Resources[Messages.Dashboard_BotWidgetTitle]">
    <Content>
        <p class="bot-not-selected">
            @Resources[Messages.Dashboard_SelectTeam] <RouterLink Href="@NavRouter.CreateRoute("constructor")">
                <Content>@Resources[Messages.Dashboard_CreateBot]</Content>
            </RouterLink>
        </p>
    </Content>
</DashboardWidget>