.team-connector__link {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}
.team-connector__code {
    width: 100%;
    margin-bottom: 20px;
}
::deep .loading {
    min-height: 428px;
    border-top: 5px #555 solid;
    background-color: #9d9d9d;
    margin-top: 30px;
}
@media (max-width: 767.98px) {
    .team-connector {
        display: none;
    }
}