<ContentDialog Title="@Title" IsGrand="!HasChart" @ref="_contentDialog">
    <Content>
        @Content
    </Content>
</ContentDialog>

<div class="dashboard-widgets__widget">
    <div class="dashboard-widgets__content @ControlsCssClass @HasChartCssClass">
        <div class="dashboard-widgets__header">
            <h2 class="dashboard-widgets__title">@Title</h2>
            <div class="dashboard-widgets__actions">
                <Button
                    ButtonMode="ButtonMode.Small"
                    ComponentStyle="ComponentStyle.Secondary"
                    OnClick="() => _contentDialog?.Open()">
                    <Content>
                        <MaximizeIcon ComponentStyle="ComponentStyle.Secondary" Size="20px"/>
                    </Content>
                </Button>
            </div>
        </div>
        @Content
    </div>
</div>

@code {
    [Parameter, EditorRequired]
    public string Title { get; set; } = default!;
    
    [Parameter, EditorRequired]
    public RenderFragment Content { get; set; } = default!;
    
    [Parameter]
    public bool HasControls { get; set; }
    
    [Parameter]
    public bool HasChart { get; set; }
    
    private ContentDialog? _contentDialog;
    
    private string ControlsCssClass => HasControls
        ? "dashboard-widgets__content_has-controls"
        : "dashboard-widgets__content_no-controls";

    private string HasChartCssClass => HasChart
        ? "dashboard-widgets__content_has-chart"
        : "dashboard-widgets__content_no-chart";
}