.team-connector__code {
    width: 100%;
    margin-bottom: 20px;
}
.team-connector__buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
@media (max-width: 767.98px) {
    .team-connector {
        display: none;
    }
}