.dashboard-widgets__widget {
    flex: 0 1 calc(50% - 20px);
    background-color: #9d9d9d;
    margin: 10px;
    border-top: 5px #555 solid;
}
.dashboard-widgets__title {
    flex: 1;
}
.dashboard-widgets__header {
    display: flex;
    align-items: center;
    padding: 0 10px 10px;
    height: 30px;
}
.dashboard-widgets__actions {
    margin-left: 20px;
}
.dashboard-widgets__actions ::deep .button {
    padding: 2px;
    border-radius: 10px;
    height: 30px;
}
.dashboard-widgets__content {
    height: 100%;
    padding: 10px 0;
}
.dashboard-widgets__content_has-chart {
    width: 98%;
    margin-left: 1%;
}
.dashboard-widgets__content_has-chart .dashboard-widgets__header,
.dashboard-widgets__content_has-chart ::deep .date-selector {
    margin: 0 -1%;
}
.dashboard-widgets__content_has-controls ::deep .loading {
    height: calc(100% - 66px);
}
.dashboard-widgets__content_no-controls ::deep .loading {
    height: calc(100% - 30px);
}
@media (max-width: 1080px) {
    .dashboard-widgets__widget {
        flex: 0 1 100%;
    }
}
@media (max-width: 767.98px) {
    .dashboard-widgets__actions {
        display: none;
    }
}