.dashboard {
    display: flex;
}
.dashboard-toolbar__content {
    width: 300px;
    padding: 0 20px;
}
.dashboard-content {
    flex-grow: 1;
}
.dashboard-widgets {
    display: flex;
    flex-wrap: wrap;
}
.dashboard-widgets__widget {
    flex: 0 1 calc(50% - 40px);
    padding: 0 20px;
}
.dashboard-widgets__content {
    margin-top: 30px;
    padding: 10px;
    border-top: 5px #555 solid;
    background-color: #9d9d9d;
}
@media (max-width: 991.98px) {
    .dashboard-widgets__widget {
        flex: 0 1 100%;
    }
}
@media (max-width: 767.98px) {
    .dashboard {
        display: block;
    }
    .dashboard-toolbar__content {
        width: 100%;
    }
}