@inherits PersistentComponent<DashboardNavbarViewModel>

@inject IRenderContext RenderContext

<div class="navbar">
    <AuthorizeView>
        <Authorized>
            @{ var person = context.User.ToPerson(); }
            
            <a href="/accounts/logout" class="link link_white navbar__item">@ViewModel.Logout</a>
            <DashboardCultureSelector/>
            <span class="navbar__item">
                <img src="/photos/@person.Id" alt="user avatar" class="user-avatar" />
                @person.Name
                <br/>
                @person.Username
            </span>
        </Authorized>
        <NotAuthorized>
            @if (ViewModel.HasLoginAsSuperUser)
            {
                <a href="/accounts/as-super-user" class="link link_white navbar__item">@ViewModel.LoginAsSuperuser</a>
            }
            <DashboardCultureSelector />
        </NotAuthorized>
    </AuthorizeView>
</div>

@code {
    protected override async Task<DashboardNavbarViewModel> Initialize(Dictionary<string, string> resources)
    {
        return await Task.FromResult(new DashboardNavbarViewModel(
            RenderContext.IsDevelopment(),
            resources[Messages.Navigation_Logout],
            resources[Messages.Navigation_LoginAsSuperuser]));
    }
}