<ContentDialog Title="@Title" @ref="_contentDialog">
    <Content>
        @Content
    </Content>
</ContentDialog>

<div class="dashboard-widgets__widget">
    <div class="dashboard-widgets__content @CssClass">
        <div class="dashboard-widgets__header">
            <h2 class="dashboard-widgets__title">@Title</h2>
            <div class="dashboard-widgets__actions">
                <button
                    type="button"
                    class="button button_dark dashboard-widgets__button"
                    @onclick="() => _contentDialog?.Open()">
                    <MaximizeIcon IsDark="true" Size="20px"/>
                </button>
            </div>
        </div>
        @Content
    </div>
</div>

@code {
    [Parameter, EditorRequired]
    public string Title { get; set; } = default!;
    
    [Parameter, EditorRequired]
    public RenderFragment Content { get; set; } = default!;
    
    [Parameter]
    public bool HasControls { get; set; }
    
    [Parameter]
    public bool HasChart { get; set; }
    
    private ContentDialog? _contentDialog;

    private string CssClass => (HasControls, HasChart) switch
    {
        (true, true) => "dashboard-widgets__content_has-controls dashboard-widgets__content_has-chart",
        (true, false) => "dashboard-widgets__content_has-controls",
        (false, true) => "dashboard-widgets__content_no-controls dashboard-widgets__content_has-chart",
        (false, false) => "dashboard-widgets__content_no-controls",
    };
}