@page "/dashboard"
@page "/ru/dashboard"
@page "/en/dashboard"
@page "/dashboard/{BotId:guid}"
@page "/ru/dashboard/{BotId:guid}"
@page "/en/dashboard/{BotId:guid}"
@page "/dashboard/{BotId:guid}/{TeamId:guid}"
@page "/ru/dashboard/{BotId:guid}/{TeamId:guid}"
@page "/en/dashboard/{BotId:guid}/{TeamId:guid}"

@attribute [Authorize]

@inherits PersistentComponent<DashboardPageViewModel>

@inject IBotService BotService

<MetaModule WebsiteSection="WebsiteSection.Dashboard" MetaOverrideTitle="@ViewModel.Title" />

<div class="dashboard">
    <div class="dashboard-toolbar">
        <div class="dashboard-toolbar__content">
            <DashboardTeamSelector BotId="BotId" TeamId="TeamId" Bots="ViewModel.Bots" />

            @if (TeamId.HasValue)
            {
                <DashboardTeamConnector TeamId="TeamId.Value" />
            }
        </div>
    </div>
    <div class="dashboard-content">
        <div class="dashboard-widgets">
            @if (TeamId.HasValue)
            {
                <TeamModule TeamId="TeamId.Value" />

                if (HasFeature("Reviewer"))
                {
                    <ReviewerModule TeamId="TeamId.Value"/>
                }
                
                if (HasFeature("Appraiser"))
                {
                    <AppraiserModule TeamId="TeamId.Value"/>
                }
            }

            @if (BotId.HasValue)
            {
                if (HasFeature("RandomCoffee"))
                {
                    <RandomCoffeeModule BotId="BotId.Value"/>
                }
                
                if (HasFeature("CheckIn"))
                {
                    <CheckInModule BotId="BotId.Value" />
                }
            }
            else
            {
                <DashboardWidget Title="@ViewModel.BotWidgetTitle">
                    <Content>
                        <BotNotSelected />
                    </Content>
                </DashboardWidget>
            }
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Guid? BotId { get; set; }
    
    [Parameter]
    public Guid? TeamId { get; set; }
    
    [CascadingParameter]
    private Task<AuthenticationState> AuthenticationStateTask { get; set; } = default!;

    protected override async Task<DashboardPageViewModel> Initialize(Dictionary<string, string> resources)
    {
        var authenticationState = await AuthenticationStateTask;
        var currentPerson = authenticationState.User.ToPerson();
        var getByUser = await BotService.GetByUser(currentPerson.Id);
        
        return new DashboardPageViewModel(
            resources[Messages.Dashboard_Title],
            resources[Messages.Dashboard_BotWidgetTitle],
            getByUser.Result.Bots);
    }

    private bool HasFeature(string feature)
    {
        var bot = ViewModel.Bots.SingleOrDefault(b => b.Id == BotId);

        return bot?.Features.Contains(feature, StringComparer.InvariantCultureIgnoreCase) == true;
    }
}