<DashboardGrid>
    <Header>
        @Settings
    </Header>
    <Toolbar>
        @Toolbar
    </Toolbar>
    <Content>
        <Loading State="State" Retry="Retry">
            <div class="dashboard-widgets">
                @if (BotId.HasValue)
                {
                    foreach (var widget in Widgets)
                    {
                        <DynamicComponent Type="widget" Parameters="WidgetParametersFactory(widget)"/>
                    }
                }
                else
                {
                    <BotNotSelected/>
                }
            </div>
        </Loading>
    </Content>
</DashboardGrid>

@code {
    /// <summary>
    /// BotId.
    /// </summary>
    [Parameter, EditorRequired]
    public Guid? BotId { get; set; }
    
    /// <summary>
    /// Component state.
    /// </summary>
    [Parameter, EditorRequired]
    public LoadingState State { get; set; } = default!;
    
    /// <summary>
    /// Widgets.
    /// </summary>
    [Parameter, EditorRequired]
    public IReadOnlyCollection<Type> Widgets { get; set; } = default!;
    
    /// <summary>
    /// Settings.
    /// </summary>
    [Parameter]
    public RenderFragment? Settings { get; set; }
    
    /// <summary>
    /// Toolbar.
    /// </summary>
    [Parameter, EditorRequired]
    public RenderFragment Toolbar { get; set; } = default!;
    
    /// <summary>
    /// Action for retry.
    /// </summary>
    [Parameter, EditorRequired]
    public Func<Task> Retry { get; set; } = default!;
    
    /// <summary>
    /// ParametersFactory for widget by type.
    /// </summary>
    [Parameter, EditorRequired]
    public Func<Type, Dictionary<string, object?>> WidgetParametersFactory { get; set; } = default!;
}