@page "/dashboard"
@page "/ru/dashboard"
@page "/en/dashboard"
@page "/dashboard/{BotId:guid}/{TeamId:guid}"
@page "/ru/dashboard/{BotId:guid}/{TeamId:guid}"
@page "/en/dashboard/{BotId:guid}/{TeamId:guid}"

@attribute [Authorize]

<PageTitle>Dashboard</PageTitle>

<DashboardNavbar />

<div class="dashboard">
    <div class="dashboard-toolbar">
        <AuthorizeView>
            <Authorized>
                <div class="dashboard-toolbar__content">
                    <DashboardTeamSelector UserId="context.User.ToPerson().Id" BotId="BotId" TeamId="TeamId" />
                </div>
            </Authorized>
        </AuthorizeView>
    </div>
    <div class="dashboard-content">
        <div class="dashboard-widgets">
            <AuthorizeView>
                <Authorized>
                    @if (TeamId.HasValue)
                    {
                        <div class="dashboard-widgets__widget">
                            <div class="dashboard-widgets__content">
                                <TeammatesWidget TeamId="TeamId.Value"/>
                            </div>
                        </div>
                    }
                </Authorized>
                <NotAuthorized>
                    <TelegramLogin/>
                </NotAuthorized>
            </AuthorizeView>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Guid? BotId { get; set; }
    
    [Parameter]
    public Guid? TeamId { get; set; }
}