.date-selector {
    padding: 0 5px;
}
.date-selector__item {
    display: inline-block;
    background-color: #555;
    padding: 3px 10px;
    border-radius: 3px;
    cursor: pointer;
    margin: 5px;
}
.date-selector__item:hover, .date-selector__item_selected {
    background-color: #000;
}