@attribute [Stories("Features/Main")]

<Stories TComponent="Main">
    <Story Name="Default">
        <Template>
            <Main MoveToConstructor="() => { }"></Main>
        </Template>
    </Story>
</Stories>