@inherits PersistentComponent<AcceptCookieDialogViewModel>

@inject IRenderContext RenderContext
@inject IJSRuntime JsRuntime

@if (_isShow)
{
    <div class="inline-dialog cookie-warning">
        <div class="inline-dialog__content">
            <p>@ViewModel.Message</p>
        </div>
        <div class="inline-dialog__actions">
            <a href="#" @onclick="Accept" @onclick:preventDefault="true" class="button button_white">@ViewModel.ButtonText</a>
        </div>
    </div>
}

@code {
    private IJSObjectReference? _cookieModule;
    
    private bool _isShow;
    private readonly string _rightsCookieName = "rights";
    private readonly string _rightsCookieValue = "accept";
    private readonly int _rightsCookieLifetime = 365;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && RenderContext.IsBrowser)
        {
            _cookieModule = await JsRuntime.InvokeAsync<IJSObjectReference>(
                "import",
                "./Features/Dialogs/AcceptCookieDialog.razor.js");

            var rightsValue = await _cookieModule.InvokeAsync<string>("readCookie", _rightsCookieName);
            if (!_rightsCookieValue.Equals(rightsValue, StringComparison.InvariantCultureIgnoreCase))
                _isShow = true;

            StateHasChanged();
        }
    }

    private async Task Accept()
    {
        if (_cookieModule is null)
            return;
        
        await _cookieModule.InvokeVoidAsync(
            "writeCookie",
            _rightsCookieName,
            _rightsCookieValue,
            _rightsCookieLifetime);

        _isShow = false;
    }
    
    protected override Task<AcceptCookieDialogViewModel> Initialize(Dictionary<string, string> resources)
    {
        return Task.FromResult(new AcceptCookieDialogViewModel(
            resources[Messages.GUI_AcceptCookieText],
            resources[Messages.GUI_AcceptCookieButton]));
    }

    public override async ValueTask DisposeAsync()
    {
        if (_cookieModule is not null)
            await _cookieModule.DisposeAsync();

        await base.DisposeAsync();
    }
}