@using Inc.TeamAssistant.WebUI.Services.Internal
@inject LanguageManager LanguageManager
@inject IRenderContext RenderContext
@inject IJSRuntime JsRuntime

@if (_isShow)
{
    <div class="inline-dialog cookie-warning">
        <div class="inline-dialog__content">
            <p>@_model.Message</p>
        </div>
        <div class="inline-dialog__actions">
            <a href="#" class="button button_white" @onclick:preventDefault="true" @onclick="Accept">@_model.ButtonText</a>
        </div>
    </div>
}

<PageScript Src="./Features/Dialogs/AcceptCookieDialog.razor.js" />

@code {
    private bool _isShow;
    private AcceptCookieDialogViewModel _model = AcceptCookieDialogViewModel.Empty;
    
    private readonly string _rightsCookieName = "rights";
    private readonly string _rightsCookieValue = "accept";
    private readonly int _rightsCookieLifetime = 365;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && RenderContext.IsBrowser)
        {
            var resources = await LanguageManager.GetResource();

            _model = new AcceptCookieDialogViewModel(
                resources[Messages.GUI_AcceptCookieText],
                resources[Messages.GUI_AcceptCookieButton]);

            var rightsValue = await JsRuntime.InvokeAsync<string>("readCookie", _rightsCookieName);
            if (!_rightsCookieValue.Equals(rightsValue, StringComparison.InvariantCultureIgnoreCase))
                _isShow = true;
            
            await InvokeAsync(StateHasChanged);
        }
    }

    private async Task Accept()
    {
        await JsRuntime.InvokeAsync<string>(
            "writeCookie",
            _rightsCookieName,
            _rightsCookieValue,
            _rightsCookieLifetime);
        
        _isShow = false;
    }
}