@inject ResourcesManager Resources

@if (_isOpen)
{
    <div class="confirm-dialog-bg"></div>
    <div class="confirm-dialog">
        <div class="confirm-dialog__body">
            <div class="confirm-dialog__content">
                @Content
            </div>
            <div class="confirm-dialog__actions">
                <Button Message="Messages.ConfirmDialog_Yes" OnClick="() => Close(OnConfirm)"></Button>
                <Button Message="Messages.ConfirmDialog_No" OnClick="() => Close()"></Button>
            </div>
        </div>
    </div>
}

@code {
    [Parameter, EditorRequired]
    public RenderFragment Content { get; set; } = default!;
    
    [Parameter, EditorRequired]
    public EventCallback OnConfirm { get; set; }
    
    private bool _isOpen;

    public void Open()
    {
        _isOpen = true;
        
        StateHasChanged();
    }

    private async Task Close(EventCallback? confirm = null)
    {
        _isOpen = false;
        
        if (confirm.HasValue)
            await confirm.Value.InvokeAsync();
        else
            StateHasChanged();
    }
}