.content-dialog, .content-dialog-bg {
    min-width: 370px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.content-dialog-bg {
    z-index: 1000;
    background-color: #000;
    opacity: .7;
}
.content-dialog {
    z-index: 1001;
}
.content-dialog__content {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 90vh;
    transform: translate(-50%, -50%);
    background-color: #9d9d9d;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    z-index: 1001;
}
.content-dialog__content_grand {
    width: 80vw;
}
.content-dialog__content_small {
    width: 60vw;
}
.content-dialog__header {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #555;
    margin-bottom: 10px;
    height: 70px;
}
.content-dialog__header-text {
    flex: 1;
    font-size: 1.2rem;
}
.content-dialog__actions {
    margin-left: 20px;
}
.content-dialog__body {
    height: calc(100% - 80px);
    overflow-y: auto;
}
::deep .loading {
    height: calc(100% - 36px);
}