.dashboard-settings {
    margin: 10px 10px 0;
    display: flex;
    justify-content: right;
}
.widget-settings__body {
    margin: 10px;
}
.widget-settings__item {
    background-color: #555;
    padding: 5px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    transition: border 0.3s;
    gap: 10px;
    cursor: grab;
}
.widget-settings_no-drag .widget-settings__item {
    border: 3px #555 solid;
}
.widget-settings_on-drag .widget-settings__item {
    border: 3px #aaa dashed;
}
.widget-settings__actions {
    display: flex;
    justify-content: right;
    margin: 0 10px 10px 10px;
}
.widget-settings__drag {
    display: flex;
}
@media (max-width: 767.98px) {
    .dashboard-settings {
        display: none;
    }
}