@inherits LayoutComponentBase

<div class="wrapper">
    <header class="header">
        <div class="header__container">
            <MainMenu/>
        </div>
    </header>
    <main class="main">
        @Body
    </main>
    <footer class="footer">
        <div class="footer__container">
            <MainFooter/>
        </div>
    </footer>
    <InlineDialog />
</div>