@inject IStringLocalizer<AuthResources> Localizer

<div class="authorizing">
    <div class="authorizing__container">
        <p class="authorizing__text">@Localizer["Authorizing"]</p>
    </div>
</div>