@inherits PersistentComponent<AuthorizingDetailsViewModel>

<div class="authorizing">
    <div class="authorizing__container">
        <p class="authorizing__text">@ViewModel.Description</p>
    </div>
</div>

@code {
    protected override Task<AuthorizingDetailsViewModel> Initialize(ResourcesManager resources)
    {
        return Task.FromResult(new AuthorizingDetailsViewModel(resources[Messages.GUI_Authorizing]));
    }
}