.login {
    height: 100vh;
    margin-bottom: -200px;
}
.login-container {
    display: flex;
    height: 100%;
}
.login-action {
    display: flex;
    align-items: center;
}
.login-action-container {
    padding: 0 60px;
}
.login-motivation {
    background-image: url('imgs/login-bg.jpg');
    background-size: cover;
    flex-grow: 1;
    display: flex;
    align-items: center;
}
.login-motivation-container {
    width: 100%;
}
.button_telegram {
    padding: 9px 21px 11px;
    border-radius: 20px;
    background-color: #54a9eb;
    color: #fff;
    text-transform: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
}
.login-motivation__header {
    text-align: center;
    font-size: 3rem;
    line-height: 4.2rem;
    text-shadow: 4px 4px 4px #000;
}
.telegram-login__header {
    font-size: 2.2rem;
    line-height: 3.6rem;
}
.telegram-login__text {
    font-size: 1.2rem;
    line-height: 1.8rem;
}
.telegram-login__actions {
    margin-top: 20px;
}
@media (max-width: 991.98px) {
    .login-motivation {
        display: none;
    }
    .login-container {
        justify-content: center;
    }
}