@inject AnalyticsOptions AnalyticsOptions
@inject IRenderContext RenderContext
@inject IHostEnvironment HostEnvironment

<!DOCTYPE html>
<html lang="@_lang">
<head>
    @if (!string.IsNullOrWhiteSpace(AnalyticsOptions.GoogleVerificationValue))
    {
        <!-- Google Tag Manager -->
        <script>
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','@AnalyticsOptions.GoogleVerificationValue');
        </script>
        <!-- End Google Tag Manager -->
    }
    @if (!string.IsNullOrWhiteSpace(AnalyticsOptions.YandexVerificationValue))
    {
        <!-- yandex webmaster -->
        <meta name="yandex-verification" content="@AnalyticsOptions.YandexVerificationValue)"/>
    }

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>

    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    
    <link href="css/main.css?v=@_appVersion" rel="stylesheet"/>
    <link href="Inc.TeamAssistant.WebUI.styles.css?v=@_appVersion" rel="stylesheet"/>

    <HeadOutlet @rendermode="_renderMode"/>
</head>
<body>
    @if (!string.IsNullOrWhiteSpace(AnalyticsOptions.GoogleVerificationValue))
    {
        <!-- Google Tag Manager (noscript) -->
        <noscript>
            <iframe
                src="https://www.googletagmanager.com/ns.html?id=@AnalyticsOptions.GoogleVerificationValue"
                height="0"
                width="0"
                style="display:none;visibility:hidden">
            </iframe>
        </noscript>
        <!-- End Google Tag Manager (noscript) -->
    }
    
    <Routes @rendermode="_renderMode"/>
    
    <script src="_framework/blazor.web.js?v=@_appVersion" autostart="false"></script>
    <script>
        window.browserJsFunctions = {
            getTimezone: () => {
                return new Date().getTimezoneOffset();
            },
            changeUrl: url => {
                history.pushState(null, '', url);
            },
            scrollToTop: () => {
                document.documentElement.scrollTop = 0;
            }
        };

        Blazor.start({
            webAssembly: {
                environment: "@HostEnvironment.EnvironmentName"
            }
        });
    </script>
</body>
</html>

@code {
    private readonly InteractiveWebAssemblyRenderMode _renderMode = new(prerender: true);
    private readonly string _appVersion = ApplicationContext.GetVersion();
    private string _lang = LanguageSettings.DefaultLanguageId.Value;

    protected override void OnInitialized()
    {
        var languageContext = RenderContext.GetLanguageContext();
        
        _lang = languageContext.CurrentLanguage.Value;
    }
}