.inline-dialog {
    padding: 1rem;
    background-color: var(--block-primary-color);
    display: flex;
}
.inline-dialog__content {
    flex: 1 1 auto;
}
.inline-dialog__actions {
    flex: 0 0 150px;
    text-align: right;
}