.assessment-session {
    padding: 8.5rem 0 2.5rem 0;
}
.assessment-session__body {
    display: flex;
}
.assessment-session__card {
    flex: 1 1 auto;
    padding: 0 2rem 0 0;
}
.assessment-session__details {
    margin: 0 0 2.5rem 0;
    min-height: 420px;
}
.assessment-session__title {
	font-size: 1.5rem;
	line-height: 2rem;
    margin: 0 0 .75rem 0;
	letter-spacing: .0625rem;
}
.assessment-session__text {
	line-height: 1.6rem;
}
.assessment-session__item {
    line-height: 2rem;
}
.assessment-session__link {
    color: #fff;
}
.assessment-session__link:hover {
    text-decoration: underline;
}
.assessment-session__participants {
	margin: 0 0 2.5rem 0;
}
.assessment-session__participant {
	line-height: 2rem;
}
.assessment-session__value {
	font-weight: 700;
}
.assessment-session__summary {
	font-size: 1.2rem;
	line-height: 2rem;
    text-align: right;
}
.assessment-session__total-value {
	font-weight: 700;
	font-size: 1.8rem;
}
@media (max-width: 991.98px) {
    .assessment-session {
        padding: 6rem 0 1rem 0;
    }
}
@media (max-width: 767.98px) {
    .assessment-session {
        padding: 7rem 0 1rem 0;
    }
    .assessment-session__details {
        margin: 0 0 1rem 0;
        min-height: 100px;
    }
}