@page "/"
@page "/en"
@page "/ru"

@layout DefaultLayout

<video autoplay muted loop class="main__video">
  <source src="source-tree-02.mp4" type="video/mp4">
  Your browser does not support HTML5 video.
</video>

<section id="feedback" class="feedback white">
    <div class="feedback__container">
        <Feedback/>
    </div>
</section>

<InlineDialog />