.about {
    padding: 8.5rem 0 1rem 0;
    background: url('main/about/about__bg.jpg') 0 0/cover no-repeat;
    position: relative;
}
.development, .features, .feedback {
    padding: 5rem 0;
}
.white {
    background-color: #fff;
    color: #616161
}
.move-to__button {
    width: 40px;
    height: 40px;
    border: .1875rem solid #fff;
    border-radius: 20px;
    display: block;
    position: relative;
    margin: 1rem auto;
    transition: background-color 0.3s ease 0s;
}
.move-to__button::after {
    content: ' ';
    border: solid #fff;
    border-width: 0 0.1875rem 0.1875rem 0;
    transform: rotate(45deg);
    position: absolute;
    left: 10px;
    top: 8px;
    width: 14px;
    height: 14px;
}
.move-to:hover .move-to__button {
    background-color: #fff;
}
.move-to:hover .move-to__button::after {
    border: solid #000;
    border-width: 0 0.1875rem 0.1875rem 0;
}
@media (max-width: 991.98px) {
    .about {
        padding: 6rem 0 1rem 0;
    }
}
@media (max-width: 767.98px) {
    .about {
        padding: 7rem 0 1rem 0;
    }
}
@media (max-width: 479.98px) {
    .features, .development, .feedback {
        padding: 2rem 0;
    }
}