@using Inc.TeamAssistant.WebUI.Services.ClientCore

@inherits LayoutComponentBase

@inject ResourcesManager ResourcesManager

<Meta Model="_metaModel" />

<OpenGraph Model="_openGraphModel" />

<div class="wrapper">
    <MainNavbar />
    
    <main class="main">
        @Body
    </main>

    <MainFooter />
</div>

<AcceptCookieDialog />

@code {
    private MetaViewModel _metaModel = MetaViewModel.Empty;
    private OpenGraphViewModel _openGraphModel = OpenGraphViewModel.Empty;
    
    protected override async Task OnInitializedAsync()
    {
        var resources = await ResourcesManager.GetResource();
        
        _metaModel = new(
            resources[Messages.MetaTitle],
            resources[Messages.MetaDescription],
            resources[Messages.MetaKeywords],
            resources[Messages.MetaAuthor]);

        _openGraphModel = new(
            resources[Messages.OgTitle],
            resources[Messages.OgDescription],
            "main.jpg",
            resources[Messages.Appraiser_OgImageText]);
    }
}