@using Inc.TeamAssistant.Primitives.Languages

@inject TeamAssistantRouter TeamAssistantRouter

@foreach (var language in _languages)
{
    <a
        href="@language.Path"
        @onclick="() => MoveTo(language.Path)"
        class="link link_light navbar__item"
        @onclick:preventDefault="true">
        @language.Culture
    </a>
}

@code {
    private IReadOnlyCollection<(string Culture, string Path)> _languages = Array.Empty<(string, string)>();
    
    protected override void OnParametersSet()
    {
        SetLanguages();

        TeamAssistantRouter.OnRouteChanged(SetLanguages);
    }
    
    private void SetLanguages()
    {
        var routeWithoutLanguage = TeamAssistantRouter.GetRouteWithoutLanguage();

        _languages = LanguageSettings.LanguageIds
            .Select(l => (l.Value, $"/{l.Value}/{routeWithoutLanguage}"))
            .ToArray();
        
        StateHasChanged();
    }

    private void MoveTo(string path) => TeamAssistantRouter.NavigateTo(path, forceLoad: true);
}