@using Inc.TeamAssistant.Primitives.Languages

@implements IDisposable

@inject NavRouter NavRouter

@foreach (var language in _languages)
{
    <a
        href="@language.Path"
        @onclick="() => MoveTo(language.Path)"
        class="link link_light navbar__item"
        @onclick:preventDefault="true">
        @language.Culture
    </a>
}

@code {
    private IReadOnlyCollection<(string Culture, string Path)> _languages = Array.Empty<(string, string)>();
    private IDisposable? _routerScope;
    
    protected override void OnParametersSet()
    {
        SetLanguages();

        _routerScope = NavRouter.OnRouteChanged(SetLanguages);
    }
    
    private void SetLanguages()
    {
        var routeWithoutLanguage = NavRouter.GetRouteWithoutLanguage();

        _languages = LanguageSettings.LanguageIds
            .Select(l => (l.Value, $"/{l.Value}/{routeWithoutLanguage}"))
            .ToArray();
        
        StateHasChanged();
    }

    private void MoveTo(string path) => NavRouter.NavigateTo(path, forceLoad: true);
    
    public void Dispose() => _routerScope?.Dispose();
}