.footer {
    background-color: var(--bg-secondary-color);
}
.footer__content {
    display: flex;
    justify-content: space-between;
}
.footer-group {
    padding: 10px 0;
    display: flex;
    flex-flow: column;
    font-size: .9rem;
    line-height: 1.5rem;
}
.footer-group__header {
    display: block;
    color: var(--block-secondary-color);
}
@media (max-width: 767.98px) {
    .footer__content {
        display: block;
    }
    .footer-group {
        font-size: 1.1rem;
        line-height: 2.3rem;
    }
    .footer-group__header {
        font-size: 1rem;
        line-height: 1.6rem;
    }
}