.navbar {
    background-color: var(--bg-secondary-color);
    position: relative;
    z-index: 999;
    padding: 10px 0;
}
.navbar-container {
    display: flex;
    padding: 0 20px;
}
.navbar__item {
    display: flex;
    align-items: center;
    padding: 0 10px;
    min-height: 50px;
}
.navbar__divider {
    flex-grow: 1;
}
@media (max-width: 767.98px) {
    .navbar__item_team {
        display: none;
    }
}
@media (max-width: 479.98px) {
    .navbar__item_avatar {
        display: none;
    }
}