@inject MainFooterLinksFactory MainFooterLinksFactory

<div class="footer">
    <div class="footer__container">
        <div class="footer__content">
            @foreach (var group in MainFooterLinksFactory.Create())
            {
                <div class="footer-group">
                    <span class="footer-group__header">@group.Key</span>
                    @foreach (var link in group.Value)
                    {
                        <RouterLink Href="@link.Url" Target="@(link.External ? RouterTarget.Blank : RouterTarget.Self)">
                            @link.Title
                        </RouterLink>
                    }
                </div>
            }
        </div>
    </div>
</div>