.navbar {
    background: rgba(0, 0, 0, .3);
    position: relative;
    height: 70px;
    z-index: 999;
}
.navbar-container {
    display: flex;
    align-items: center;
    padding: 0 20px;
}
.navbar__item {
    display: flex;
    align-items: center;
    padding: 15px 10px;
}
.navbar__item_logo {
    margin-bottom: -4px;
}
.navbar__divider {
    flex-grow: 1;
}
@media (max-width: 767.98px) {
    .navbar__item_team {
        display: none;
    }
}
@media (max-width: 479.98px) {
    .navbar__item_avatar {
        display: none;
    }
}