.navbar {
    background: rgba(0, 0, 0, .3);
    position: relative;
    height: 70px;
    z-index: 999;
}
.navbar-container {
    display: flex;
    align-items: center;
    padding: 0 20px;
}
.navbar__item {
    display: flex;
    align-items: center;
    padding: 15px 10px;
}
.navbar__item_logo {
    margin-bottom: -4px;
}
.navbar__divider {
    flex-grow: 1;
}
.user-avatar {
    width: 50px;
    border-radius: 50%;
    margin: -5px 10px -5px 0;
    float: left;
}
@media (max-width: 479.98px) {
    .navbar__item_avatar {
        display: none;
    }
}