.footer {
    background: rgba(0, 0, 0, .3);
}
.footer__content {
    display: flex;
    justify-content: space-between;
}
.footer-group {
    padding: 10px 0;
}
.footer-group__header {
    display: block;
    color: var(--block-secondary-color);
    font-size: .8rem;
    padding-bottom: 5px;
}
::deep .link {
    display: block;
    font-size: .9rem;
    line-height: 1.5rem;
}
@media (max-width: 767.98px) {
    .footer__content {
        display: block;
    }
    .footer-group__header {
        font-size: 1rem;
        line-height: 1.6rem;
    }
    ::deep .link {
        font-size: 1.1rem;
        line-height: 2.3rem;
    }
}