@inherits LayoutComponentBase

<div class="wrapper">
    <MainNavbarContainer />
    
    <main class="main">
        @Body
        
        <div class="inline__dialogs_placeholder"></div>
        <div class="inline__dialogs">
            <AcceptCookieDialogContainer />
            @DialogSlot
        </div>
    </main>
    
    <MainFooter/>
</div>

@code {
    [Parameter]
    public RenderFragment? DialogSlot { get; set; }
}