@inherits PersistentComponent<NoDataViewModel>

<div class="dashboard-widgets__no-data">
    <p>@ViewModel.Text</p>
</div>

@code {
    protected override Task<NoDataViewModel> Initialize(ResourcesManager resources)
    {
        return Task.FromResult(new NoDataViewModel(resources[Messages.Dashboard_NoData]));
    }
}