@model Inc.TeamAssistant.Appraiser.Backend.Pages.Models.MetaStaticViewModel

<title>@Html.Raw(Model.Title)</title>

<meta name="description" content="@Html.Raw(Model.Description)">
<meta name="keywords" content="@Html.Raw(Model.Keywords)">
<meta name="author" content="@Html.Raw(Model.Author)">

<meta name="robots" content="index, archive" />

<link rel="canonical" href="https://team-assistant.online/" />