@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
*:focus {
	outline: none;
}
a {
	text-decoration: none;
}
ul,
ol,
li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
html,
body {
	height: 100%;
}
body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #fff;
	background-color: #616161;
	min-width: 315px;
    line-height: 1.25rem;
    font-weight: 400;
}
html {
	scroll-behavior: smooth;
}
[class*="__container"] {
	max-width: 1080px;
	margin: 0 auto;
	padding: 0 1rem;
}
.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.main {
    flex: 1 1 auto;
}
/* PC */
@media (max-width: 1080px) {
	[class*="__container"] {
		max-width: 970px;
	}
}
/* TABLET */
@media (max-width: 991.98px) {
	[class*="__container"] {
		max-width: 750px;
	}
}
/* MOBILE */
@media (max-width: 767.98px) {
	[class*="__container"] {
		max-width: none;
	}
}
/* MOBILE SMALL */
@media (max-width: 479.98px) {
}
/* BUTTON */
.button {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    font-size: .75rem;
    line-height: .9rem;
    letter-spacing: .0625rem;
    padding: .875rem 1.25rem;
    border-radius: 1rem;
    transition: background-color 0.3s ease 0s;
    background-color: transparent;
    cursor: pointer;
}
.button_white {
    border: .1875rem solid #fff;
    color: #fff;
}
.button_white:hover {
    background-color: #fff;
    color: #000;
}
.button_black {
    border: .1875rem solid #000;
    color: #000;
}
.button_black:hover {
    background-color: #000;
    color: #fff;
}
.link {
    font-size: 1rem;
}
.link:hover {
    text-decoration: underline;
}
.link_white {
    color: #fff;
}
.link_black {
    color: #000;
}
/* MAP */
.marker-btn {
    background-color: #fff;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
    font-size: .825rem;
    line-height: 1.5rem;
}
.marker-btn:hover {
    text-decoration: none;
}
/* FORMS */
.form-control {
    width: 100%;
    padding: 10px 20px;
    font-size: 1rem;
    border: 3px solid #555;
}
.is-valid {
    border: 3px solid #28a745;
}
.is-invalid {
    border: 3px solid #dc3545;
}
.validation-message {
    font-size: 1rem;
    color: #dc3545;
}
/* ROOT COMPONENTS */
.title {
    font-size: 2.4rem;
    line-height: 3.4rem;
}
.text {
    font-size: 1.2rem;
    line-height: 1.6rem;
}
.white {
    background-color: #fff;
    color: #000;
}
.draggable {
    cursor: grab;
}
/* GRID */
.quick-data-grid {
    width: 100%;
    font-size: 13px;
    border-spacing: 0;
    word-break: break-all;
}
.quick-data-grid .link {
    font-size: 13px;
}
.quick-data-grid .col-title {
    color: #000;
    font-size: 14px;
}
.quick-data-grid tbody tr:nth-child(2n - 1){
    background-color: #555;
}