@using Inc.TeamAssistant.WebUI.Services.Render
@using Inc.TeamAssistant.WebUI.Shared.Annotations
@inject LanguageManager LanguageManager

<PageTitle>@_annotation.Title</PageTitle>

<div class="error-404">
    <div class="error-404__container">
        <p class="error-404__text"><span class="error-404__title">@_annotation.Title</span> @_annotation.Description</p>
    </div>
</div>

@code {
    private Error404Annotation _annotation = Error404Annotation.Empty;

    protected override async Task OnInitializedAsync()
    {
        var resources = await LanguageManager.GetResource();

        _annotation = new(resources[Messages.GUI_Error404], resources[Messages.GUI_PageNotFound]);

        await InvokeAsync(StateHasChanged);
    }
}