.footer__body {
	display: flex;
    justify-content: space-between;
}
.footer__title {
	font-size: 1rem;
    margin: 0 0 .6rem 0;
	font-weight: 700;
    color: #9d9d9d;
}
.footer__link {
	color: #fff;
}
.footer__link:hover {
	text-decoration: underline;
}
@media (max-width: 767.98px) {
	.footer__body {
		display: block;
	}
	.footer__items {
        margin: 0 0 2.25rem 0;
	}
    .footer__items:last-child {
        margin: 0;
    }
    .footer__title {
        line-height: 2.5rem;
        margin: 0;
    }
    .footer__link {
        font-size: 1rem;
        line-height: 2.5rem;
    }
}