.action-item {
    padding: .5rem;
}
.action-item_new {
    background-color: var(--accent-color);
}
.action-item_done {
    background-color: var(--block-primary-color);
}
.action-item_pinned {
    background-color: var(--message-valid-color);
}
.action-item__actions {
    float: right;
    padding-left: .3rem;
    display: flex;
    gap: .3rem;
}
.action-item__data {
    display: block;
    text-align: right;
    color: var(--block-secondary-color);
    font-size: .8rem;
}