.retro-item {
    padding: .5rem;
}
.retro-item__actions {
    text-align: right;
    margin-bottom: .3rem;
}
.retro-item__text {;
    min-height: 80px;
}
.retro-item_hide {
    filter: blur(4px);
    user-select: none;
    pointer-events: none;
}