@inherits InputBase<RetroItemViewModel>

@inject IJSRuntime JsRuntime
@inject IRenderContext RenderContext
@inject ILogger<InputRetroItem> Logger

<div style="background-color: @BackgroundColor" class="retro-item @CssClass @CanEditCss @CanViewCss">
    @if (CanRemove)
    {
        <div class="retro-item__actions">
            <RouterLink OnClick="EmitItemRemoved">X</RouterLink>
        </div>
    }
    <div
        class="retro-item__text"
        contenteditable="true"
        @oninput="InputChanged"
        @ref="_item">
        @if (!RenderContext.IsBrowser || !CanEdit)
        {
            @_value.Text
        }
    </div>
</div>

@code {
    /// <summary>
    /// Can remove item.
    /// </summary>
    [Parameter, EditorRequired]
    public bool CanView { get; set; }
    
    /// <summary>
    /// Can edit item.
    /// </summary>
    [Parameter, EditorRequired]
    public bool CanEdit { get; set; }
    
    /// <summary>
    /// Can remove item.
    /// </summary>
    [Parameter, EditorRequired]
    public bool CanRemove { get; set; }
    
    /// <summary>
    /// Background color.
    /// </summary>
    [Parameter, EditorRequired]
    public string BackgroundColor { get; set; } = default!;
    
    /// <summary>
    /// Debounce delay in milliseconds.
    /// </summary>
    [Parameter, EditorRequired]
    public int DebounceDelay { get; set; }
    
    /// <summary>
    /// Item removed callback.
    /// </summary>
    [Parameter, EditorRequired]
    public EventCallback<RetroItemViewModel> ItemRemoved { get; set; }
    
    private RetroItemViewModel _value = new();
    private ElementReference _item;
    private Timer? _timer;

    private string CanEditCss => CanEdit ? string.Empty : "retro-item_freeze";
    private string CanViewCss => CanView ? string.Empty : "retro-item_hide";

    protected override void OnParametersSet()
    {
        _value = CurrentValue ?? new();

        if (!CanEdit)
            return;

        if (RenderContext.IsBrowser && _timer is null)
        {
            _timer = CreateTimer(TimeSpan.FromMilliseconds(DebounceDelay));
            InputChanged();
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && CanEdit && RenderContext.IsBrowser)
            await JsRuntime.Execute(JsFunctions.SetTextValue(_item, _value.Text));
    }

    private async Task TryEmitValueChanged()
    {
        try
        {
            var value = await JsRuntime.Execute(JsFunctions.GetTextValue(_item));

            if (_value.Text != value)
            {
                _value.ChangeText(value);
                await ValueChanged.InvokeAsync(_value);
            }
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, "Error on timer tick for InputRetroItem");
        }
    }

    private void HandleTick(object? sender, ElapsedEventArgs e)
    {
        _timer?.Stop();
        InvokeAsync(TryEmitValueChanged);
    }

    private void InputChanged()
    {
        _timer?.Stop();
        _timer?.Start();
    }

    private async Task EmitItemRemoved()
    {
        if (!CanRemove)
            return;
        
        await ItemRemoved.InvokeAsync(_value);
    }

    protected override bool TryParseValueFromString(
        string? value,
        out RetroItemViewModel result,
        out string validationErrorMessage)
    {
        throw new NotImplementedException();
    }

    private Timer CreateTimer(TimeSpan interval)
    {
        var timer = new Timer(interval);

        timer.Elapsed += HandleTick;
        timer.AutoReset = false;

        return timer;
    }

    protected override void Dispose(bool disposing)
    {
        if (disposing && _timer is not null)
        {
            _timer.Stop();
            _timer.Elapsed -= HandleTick;
            _timer.Dispose();
        }
        
        base.Dispose(disposing);
    }
}