.retro-participants {
    display: flex;
    flex-direction: column;
}
.retro-participant {
    padding: .5rem;
}
.retro-participant:nth-child(2n - 1){
    background-color: var(--bg-secondary-color);
}
@media (max-width: 767.98px) {
    .retro-participants {
        display: none;
    }
}