.retro-state-panel {
    padding: .3125rem;
    display: flex;
    align-items: center;
    gap: .5rem;
}
.retro__link {
    display: flex;
    align-items: center;
    color: var(--block-priority-color);
    text-transform: uppercase;
    transition: color 0.3s ease 0s;
}
.retro__link_active:hover {
    color: var(--button-secondary-color);
}
.retro__link_active:hover ::deep .icon_primary {
    stroke: var(--button-secondary-color);
}
.retro__link_right {
    margin-left: auto;
}