<div class="retro-state-panel">
    <Button ButtonMode="ButtonMode.Small" OnClick="OnMoveNext">
        <PlayIcon Size="20px" />
    </Button>
</div>

@code {
    /// <summary>
    /// Retro session.
    /// </summary>
    [Parameter, EditorRequired]
    public RetroSessionDto? Session { get; set; }

    /// <summary>
    /// Start retro action.
    /// </summary>
    [Parameter, EditorRequired]
    public EventCallback StartRetro { get; set; }
    
    /// <summary>
    /// Move to next action.
    /// </summary>
    [Parameter, EditorRequired]
    public EventCallback<Guid> MoveToNext { get; set; }

    private async Task OnMoveNext()
    {
        if (Session is null)
            await StartRetro.InvokeAsync();
        else
            await MoveToNext.InvokeAsync(Session.Id);
    }
}