.retro-participants {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.retro-participant {
    padding: .5rem;
}
@media (max-width: 767.98px) {
    .retro-participants {
        display: none;
    }
}