@inject IStringLocalizer<RetroResources> Localizer

<ConfirmDialog @ref="_confirmDialog">
    @Localizer["ConfirmMoveToDiscussing"]
</ConfirmDialog>

<div class="retro-state-panel">
    <a
        href="#"
        class="retro-state-panel__link link"
        @onclick="OnMoveNext"
        @onclick:preventDefault="true">
        @Localizer["Next"] <CaretRightIcon Size="30px"/>
    </a>
</div>

@code {
    /// <summary>
    /// Retro session.
    /// </summary>
    [Parameter, EditorRequired]
    public RetroSessionDto? Session { get; set; }

    /// <summary>
    /// Start retro action.
    /// </summary>
    [Parameter, EditorRequired]
    public EventCallback StartRetro { get; set; }
    
    /// <summary>
    /// Move to next action.
    /// </summary>
    [Parameter, EditorRequired]
    public EventCallback<Guid> MoveToNext { get; set; }
    
    /// <summary>
    /// Is prioritizing state.
    /// </summary>
    [Parameter, EditorRequired]
    public bool IsPrioritizing { get; set; }
    
    private ConfirmDialog? _confirmDialog;

    private async Task OnMoveNext()
    {
        if (Session is null)
        {
            await StartRetro.InvokeAsync();
            return;
        }
            
        if (IsPrioritizing && _confirmDialog is not null && !await _confirmDialog.IsConfirmed())
            return;
        
        await MoveToNext.InvokeAsync(Session.Id);
    }
}