<Loading State="State" Retry="Retry">
    <div class="main-content">
        <div class="main-content__container">
            <h1 class="main-content__header">Доска для ретро команды @Team.Name</h1>
            <p class="main-content__text">Вым необходимо описать все беспокоящие вас проблемы и предложения. На следующей ретроспективе мы совместно все обсудим и зафиксируем решения. До начала ретроспективы карточки никому недоступны кроме их автора.</p>
            <div class="retro-grid">
                <div class="retro-grid__columns">
                    @foreach (var column in Columns)
                    {
                        <div class="retro-grid__column">
                            <Panel Header="@column.Name" IsOpen="true">
                                <Actions>
                                    <Button>Добавить</Button>
                                </Actions>
                                <Content>

                                </Content>
                            </Panel>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</Loading>

@code {
    /// <summary>
    /// Current Team.
    /// </summary>
    [Parameter, EditorRequired]
    public TenantTeamDto Team { get; set; } = default!;
    
    /// <summary>
    /// Component state.
    /// </summary>
    [Parameter, EditorRequired]
    public LoadingState State { get; set; } = default!;
    
    /// <summary>
    /// Retro columns.
    /// </summary>
    [Parameter, EditorRequired]
    public IReadOnlyCollection<RetroColumnViewModel> Columns { get; set; } = default!;
    
    /// <summary>
    /// Action for retry.
    /// </summary>
    [Parameter, EditorRequired]
    public Func<Task> Retry { get; set; } = default!;
}