@inject IStringLocalizer<RetroResources> Localizer

<DashboardGrid>
    <Toolbar>
        @if (RoomId.HasValue)
        {
            <RoomNavbarContainer RoomId="RoomId.Value" />
        }
    </Toolbar>
    <Content>
        <div class="retro-assessment__body">
            <h1 class="retro-assessment__title">@Localizer["RetroAssessmentTitle"]</h1>
            <p class="assessment-session__text">
                @Localizer["RetroAssessmentQuestion"]
                <br/>
                @Localizer["RetroAssessmentValueHint"]
            </p>
            <Loading State="State" Retry="Retry">
                <div class="retro-assessment__value">
                    <InputVoting
                        VotesTotal="VotesCount"
                        RemainingVotes="VotesCount"
                        CanVote="true"
                        Size="40px"
                        Value="Value"
                        ValueExpression="@(() => Value)"
                        ValueChanged="ValueChanged"/>
                </div>
            </Loading>
        </div>
    </Content>
</DashboardGrid>

@code {
    /// <summary>
    /// Room identifier.
    /// </summary>
    [Parameter, EditorRequired]
    public Guid? RoomId { get; set; }
    
    /// <summary>
    /// State of the loading operation.
    /// </summary>
    [Parameter, EditorRequired]
    public LoadingState State { get; set; } = default!;
    
    /// <summary>
    /// Value of the assessment.
    /// </summary>
    [Parameter, EditorRequired]
    public int Value { get; set; }
    
    /// <summary>
    /// Action for retry.
    /// </summary>
    [Parameter, EditorRequired]
    public Func<Task> Retry { get; set; } = default!;
    
    /// <summary>
    /// Votes count for the assessment.
    /// </summary>
    [Parameter, EditorRequired]
    public int VotesCount { get; set; }
    
    /// <summary>
    /// Value changed callback.
    /// </summary>
    [Parameter, EditorRequired]
    public EventCallback<int> ValueChanged { get; set; }
}