<div class="retro-participants">
    @foreach (var participant in Participants)
    {
        var votesTotal = VotesTotal - participant.TotalVotes;
        
        <div class="retro-participant">
            @if (participant.Finished)
            {
                <div class="retro-participant__state">
                    <CheckIcon Size="26px"/>
                </div>
            }
            <PersonCard Person="participant.Person" />
            @if (CanVote && votesTotal > 0)
            {
                <InputVoting
                    VotesTotal="votesTotal"
                    RemainingVotes="0"
                    CanVote="false"
                    Value="0"
                    ValueExpression="@(() => participant.TotalVotes)"
                    ValueChanged="@((int v) => { })"/>
            }
        </div>
    }
</div>

@code {
    /// <summary>
    /// Can the user vote in the retro session.
    /// </summary>
    [Parameter, EditorRequired]
    public bool CanVote { get; set; }
    
    /// <summary>
    /// Votes total for the retro session.
    /// </summary>
    [Parameter, EditorRequired]
    public int VotesTotal { get; set; }

    /// <summary>
    /// Retro session participants.
    /// </summary>
    [Parameter, EditorRequired]
    public IReadOnlyCollection<ParticipantViewModel> Participants { get; set; } = default!;
}