@inject IStringLocalizer<RetroResources> Localizer

<span class="votes-count">
    @Localizer["VotesCount"] @Value
</span>

@code {
    [Parameter, EditorRequired]
    public int Value { get; set; }
}