@inject NavigationManager NavigationManager
@inject LanguageManager LanguageManager

<EditForm EditContext="_editContext" OnValidSubmit="SubmitForm">
    <FluentValidationValidator />
    
    <div class="form-section">
        <div class="form-section__legend">
            <h4 class="form-section__title">Set bot token</h4>
            <p class="form-section__help">Please move to <a href="https://telegram.me/BotFather" class="link link_black">BotFather</a> and create bot</p>
        </div>
        <div class="form-section__content">
            <div class="form-section__field-set">
                <label for="bot-token" class="form-section__label">Bot token</label>
                <InputText @bind-Value="_botFormModel.Token" class="form-section__control" id="bot-token"/>
                <ValidationMessage For="@(() => _botFormModel.Token)" />
            </div>
            <div class="form-section__field-set">
                <label for="bot-username" class="form-section__label">Bot username</label>
                <InputText @bind-Value="_botFormModel.UserName" class="form-section__control" id="bot-username" disabled="true"/>
            </div>
        </div>
    </div>
    <div class="form-controls">
        <button class="button button_white" type="submit">Next</button>
    </div>
</EditForm>

@code {
    private readonly BotFormModel _botFormModel = new();
    private Func<string?, string> _linkBuilder = default!;
    
    [Parameter, EditorRequired]
    public BotFormModel BotFormModel { get; set; } = default!;
    
    private EditContext? _editContext;
    
    protected override void OnInitialized()
    {
        _linkBuilder = LanguageManager.CreateLinkBuilder();
    }

    protected override void OnParametersSet()
    {
        _botFormModel.BotId = BotFormModel.BotId;
        _botFormModel.UserName = BotFormModel.UserName;
        _botFormModel.Token = BotFormModel.Token;
        _editContext = new EditContext(_botFormModel);
        _editContext.SetFieldCssClassProvider(new ValidationCssClassProvider());
    }

    private void SubmitForm()
    {
        var stage = Stage.SelectFeatures.ToString().ToLower();
        var link = _botFormModel.BotId.HasValue
            ? $"constructor/{_botFormModel.BotId.Value:N}/{stage}"
            : $"constructor/{stage}";
        
        NavigationManager.NavigateTo(_linkBuilder(link));
    }
}