@inject IStringLocalizer<ConstructorResources> Localizer

<div class="nav-stages">
    @foreach (var stage in _stages)
    {
        <div class="nav-stages__item @CssClass(stage)" @onclick="() => MoveTo(stage)">
            @Localizer[GetStageTitle(stage)]
        </div>
    }
</div>

@code {
    [Parameter, EditorRequired]
    public Stage Current { get; set; }
    
    [Parameter, EditorRequired]
    public Func<Stage?, Task> MoveToNext { get; set; } = default!;

    private readonly IReadOnlyCollection<Stage> _stages = Enum.GetValues<Stage>();
    
    private bool CanMove(Stage stage) => Current > stage;

    private string CssClass(Stage stage) => stage == Current
        ? "nav-stages__item_active"
        : CanMove(stage)
            ? "nav-stages__item_can-move"
            : string.Empty;
    
    private string GetStageTitle(Stage stage) => $"Stage{stage}";

    private void MoveTo(Stage stage)
    {
        if (CanMove(stage))
            MoveToNext(stage);
    }
}