@inherits PersistentComponent<NavigationStagesViewModel>

@inject NavigationManager NavigationManager

<div class="nav-stages">
    @foreach (var stage in Stages)
    {
        ViewModel.StagesLookup.TryGetValue(stage, out var stageName);

        <div class="nav-stages__item @CssClass(stage)" @onclick="() => MoveTo(stage)">@stageName</div>
    }
</div>

@code {
    [Parameter, EditorRequired]
    public Stage Current { get; set; }
    
    [Parameter, EditorRequired]
    public Func<Stage?, string> LinkFactory { get; set; } = default!;

    private IReadOnlyCollection<Stage> Stages => Enum.GetValues<Stage>();
    
    private bool CanMove(Stage stage) => false;

    private string CssClass(Stage stage) => stage == Current
        ? "nav-stages__item_active"
        : CanMove(stage)
            ? "nav-stages__item_can-move"
            : string.Empty;

    private void MoveTo(Stage stage)
    {
        if (!CanMove(stage))
            return;
        
        NavigationManager.NavigateTo(LinkFactory(stage));
    }

    protected override Task<NavigationStagesViewModel> Initialize(Dictionary<string, string> resources)
    {
        var stagesLookup = Enum.GetValues<Stage>().ToDictionary(s => s, s => resources[Messages.GetStageTitle(s)]);
        
        return Task.FromResult(new NavigationStagesViewModel(stagesLookup));
    }
}