@inject ResourcesManager Resources

<div class="nav-stages">
    @foreach (var stage in _stages)
    {
        <div class="nav-stages__item @CssClass(stage)" @onclick="() => MoveTo(stage)">
            @Resources[GetStageTitle(stage)]
        </div>
    }
</div>

@code {
    [Parameter, EditorRequired]
    public Stage Current { get; set; }
    
    [Parameter, EditorRequired]
    public Func<Stage?, Task> MoveToNext { get; set; } = default!;

    private IReadOnlyCollection<Stage> _stages = Enum.GetValues<Stage>();
    
    private bool CanMove(Stage stage) => Current > stage;

    private string CssClass(Stage stage) => stage == Current
        ? "nav-stages__item_active"
        : CanMove(stage)
            ? "nav-stages__item_can-move"
            : string.Empty;
    
    private MessageId GetStageTitle(Stage stage) => new($"Constructor_Stage{stage}");

    private void MoveTo(Stage stage)
    {
        if (!CanMove(stage))
            return;

        MoveToNext(stage);
    }
}