.form-section {
    padding-top: 10px;
    border-top: 5px #000 solid;
    margin-top: 30px;
    background-color: #9d9d9d;
    display: flex;
    color: #000;
}
.form-section__legend {
    width: 40%;
    padding: 10px;
}
.form-section__title {
    font-size: 1.2rem;
    margin-bottom: 10px;
}
.form-section__help {
    font-size: 1rem;
}
.form-section__content {
    width: 60%;
    padding: 10px;
}
.form-section__field-set {
    margin-bottom: 10px;
}
.form-section__label {
    display: block;
    margin-bottom: 5px;
    margin-left: 5px;
    font-size: .8rem;
}
.form-controls {
    margin-top: 40px;
    text-align: right;
}
.form-controls * {
    margin-left: 10px;
}