.feature-selector {
    position: relative;
    overflow: hidden;
    margin-top: 40px;
}
.feature-selector__item {
    float: left;
    margin: 0 20px 20px 0;
    width: 160px;
    height: 200px;
}
.feature-selector__name {
    opacity: .7;
    font-size: .7rem;
    word-break: break-all;
    text-align: center;
}