.constructor {
    margin: 140px 0 60px 0;
}
.constructor__nav {
    margin-top: 30px;
}
::deep .constructor__form {
    margin-bottom: 20px;
}
::deep .constructor__actions {
    text-align: right;
}
::deep .constructor__edit-link {
    display: block;
    text-align: right;
}