<div class="stages-summary">
    @foreach (var stage in Stages)
    {
        <div class="stages-summary__item @GetClass(stage)">@stage</div>
    }
</div>

@code {
    [Parameter, EditorRequired]
    public Stage Current { get; set; }

    private IReadOnlyCollection<Stage> Stages => Enum.GetValues<Stage>();
    
    private string GetClass(Stage stage) => stage == Current ? "stages-summary__item_active" : string.Empty;
}