.stages-summary {
    display: flex;
    margin-top: 30px;
}
.stages-summary__item {
    width: 25%;
    text-align: center;
    position: relative;
    height: 40px;
    padding: 10px;
}
.stages-summary__item_active {
    background-color: #fff;
    color: #000;
}
.stages-summary__item_active::after {
    content: '';
    position: absolute;
    right: -30px;
    top: 0;
    border: 20px solid transparent;
    border-left: 10px solid #fff;
    z-index: 10;
}