@page "/map/{id:guid}"
@page "/en/map/{id:guid}"
@page "/ru/map/{id:guid}"
@page "/map/{id:guid}/{DisableLayout:bool}"
@page "/en/map/{id:guid}/{DisableLayout:bool}"
@page "/ru/map/{id:guid}/{DisableLayout:bool}"

@layout MapLayout

@inherits PersistentComponent<MapPageViewModel>

@inject ICheckInService CheckInService
@inject IRenderContext RenderContext
@inject IJSRuntime JsRuntime

<MetaDataModule WebsiteSection="WebsiteSection.Map" />

@if (!DisableLayout)
{
    <MainNavbar/>
}
<div @ref="_map" class="map @CssClass"></div>

@if (!DisableLayout)
{
    <AcceptCookieDialog />
}

@code {
    [Parameter]
    public Guid Id { get; set; }
    
    [Parameter]
    public bool DisableLayout { get; set; }

    private string CssClass => DisableLayout ? string.Empty : "map__navbar";

    private ElementReference _map;
    private IJSObjectReference? _mapModule;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && RenderContext.IsBrowser)
        {
            _mapModule = await JsRuntime.InvokeAsync<IJSObjectReference>(
                "import",
                "./Features/Map/MapPage.razor.js");
            
            var getLocations = await CheckInService.GetLocations(Id);
            if (getLocations is not null)
                await _mapModule.InvokeVoidAsync(
                    "initialize",
                    _map,
                    getLocations.Locations,
                    ViewModel.FeatureNamesLookup,
                    ViewModel.ShowRouteText,
                    ViewModel.HideRouteText,
                    ViewModel.DefaultLayerTitle);
        }
    }

    protected override Task<MapPageViewModel> Initialize(ResourcesManager resources)
    {
        return Task.FromResult(new MapPageViewModel(
            resources[Messages.CheckIn_DefaultLayerTitle],
            resources[Messages.CheckIn_RouteShow],
            resources[Messages.CheckIn_RouteHide],
            new Dictionary<string, string>
            {
                ["Review"] = resources[Messages.Constructor_FeatureReviewerName],
                ["RandomCoffee"] = resources[Messages.Constructor_FeatureRandomCoffeeName],
                ["Estimates"] = resources[Messages.Constructor_FeatureAppraiserName],
                ["CheckIn"] = resources[Messages.Constructor_FeatureCheckInName]
            }));
    }

    public override async ValueTask DisposeAsync()
    {
        if (_mapModule is not null)
            await _mapModule.DisposeAsync();

        await base.DisposeAsync();
    }
}