.feature-card {
    margin-bottom: 20px;
    background-color: #555;
    width: 100%;
    cursor: grab;
}
.feature-card__name {
    font-size: 1.1rem;
    line-height: 3rem;
    text-align: center;
}
.feature-card__description {
    text-align: center;
    font-size: .9rem;
}
.feature-card__header {
    background-color: #dfdfdf;
    position: relative;
    height: 60px;
    display: flex;
    align-items: center;
}
.feature-card__content {
    padding: 60px 20px 20px 20px;
}
.feature-card__drag {
    margin-bottom: -4px;
}
.feature-card__avatar {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    left: 50%;
    bottom: 0;
    margin: 0 0 -40px -40px;
    border: 4px solid #000;
    background-color: #dfdfdf;
    padding: 6px;
}
.feature-card__actions {
    text-align: center;
    margin-top: 15px;
}