.can-drop {
    border: 3px dashed #555;
}
.input-features {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.input-features__items {
    flex: 0 1 48%;
    min-height: 220px;
    color: #dfdfdf;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 20px 20px 0 20px;
    background-color: #9d9d9d;
}
.input-features__text {
    font-size: 1.2rem;
    color: #555;
    height: 100%;
    align-content: center;
}
.form-control_enabled:hover .input-features__text {
    color: #000;
}
@media (max-width: 991.98px) {
    .input-features__items {
        flex: 0 1 100%;
        margin-bottom: 20px;
    }
}