.input-features {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
.input-features__items {
    flex: 0 1 calc(50% - 1rem);
    min-height: 220px;
    color: var(--text-primary-color);
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 1rem;
    background-color: var(--block-primary-color);
    font-size: 1rem;
    width: 100%;
    border: 3px solid var(--bg-secondary-color);
    border-radius: 0;
    transition: border 0.3s;
    gap: 1rem;
}
.input-features__items_can-drop {
    border: 3px dashed var(--bg-secondary-color);
}
.input-features__text {
    font-size: 1.2rem;
    color: var(--bg-secondary-color);
    height: 100%;
    align-content: center;
}
.input-features__items:hover .input-features__text {
    color: var(--text-secondary-color);
}
.input-features__items:focus, .input-features__items:hover {
    border: 3px solid var(--text-secondary-color);
}
@media (max-width: 991.98px) {
    .input-features__items {
        flex: 0 1 100%;
    }
}