.default-card__name {
    font-size: 1.1rem;
    word-break: break-all;
    text-align: center;
    text-transform: lowercase;
}
.default-card__header {
    background-color: #fff;
    position: relative;
    height: 60px;
}
.default-card__content {
    padding: 60px 20px 20px 20px;
}
.default-card__avatar {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    left: 50%;
    bottom: 0;
    margin: 0 0 -40px -40px;
    border: 4px solid #000;
    background-color: #fff;
    padding: 6px;
}
.default-card__actions {
    text-align: center;
    margin-top: 15px;
}