@using Inc.TeamAssistant.WebUI.Features.Constructor.Stages.Stage2
@using Inc.TeamAssistant.WebUI.Services.ClientCore

@inject DragAndDropService<Guid> DragAndDropService

<div draggable="true" class="feature-card" @ondragstart="@(() => HandleDragStart(FeatureId))">
    <div class="feature-card__header">
        <div class="feature-card__avatar">
            <DynamicComponent Type="Icon" Parameters="IconParameters" />
        </div>
    </div>
    <div class="feature-card__content">
        <h3 class="feature-card__name">@Data.Name</h3>
        <p class="feature-card__description">@Data.Description</p>
        <div class="feature-card__actions">
            @Buttons
        </div>
    </div>
</div>

@code {
    [Parameter, EditorRequired]
    public Type Icon { get; set; } = default!;
    
    [Parameter, EditorRequired]
    public Guid FeatureId { get; set; }
    
    [Parameter, EditorRequired]
    public SelectFeaturesViewModel.FeatureData Data { get; set; } = default!;
    
    [Parameter, EditorRequired]
    public RenderFragment Buttons { get; set; } = default!;
    
    private Dictionary<string, object> IconParameters => new()
    {
        ["Size"] = "60px",
        ["Color"] = "#000"
    };
    
    private void HandleDragStart(Guid id) => DragAndDropService.Start(id);
}