.user-card__name {
    font-size: 1.1rem;
    word-break: break-all;
    text-align: center;
}
.user-card__header {
    background-color: #fff;
    position: relative;
    height: 60px;
}
.user-card__content {
    padding: 60px 20px 20px 20px;
}
.user-card__avatar {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    left: 50%;
    bottom: 0;
    margin: 0 0 -40px -40px;
}
.user-card_dark .user-card__header {
    background-color: #9d9d9d;
}
.user-card_dark .user-card__content {
    color: #fff;
    background-color: #616161;
}