.holiday-items {
    display: flex;
    flex-wrap: wrap;
}
.holiday-items__item {
    flex: 0 1 calc(50% - 20px);
    margin: 0 10px;
    display: flex;
}
.holiday-items__item-control {
    margin: 0 10px 10px 0;
}
.work-schedule__items {
    display: flex;
    flex-wrap: wrap;
}
.work-schedule__button {
    margin: 25px 0 15px 0;
}
.work-schedule__item {
    flex: 0 1 50%;
}
.weekends-selector__item {
    display: inline-block;
    background-color: #555;
    color: #dfdfdf;
    width: 43px;
    padding: 10px;
    text-align: center;
    margin: 0 10px 10px 0;
    cursor: pointer;
    transition: background-color 0.3s ease 0s;
}
.weekends-selector__item_selected {
    background-color: #000;
}
@media (max-width: 991.98px) {
    .holiday-items__item {
        flex: 0 1 100%;
        margin: 0;
    }
}