.work-schedule__item {
    display: inline-block;
    margin: 0 10px 10px 0;
}
.weekends-selector__item {
    display: inline-block;
    background-color: #555;
    color: #dfdfdf;
    width: 43px;
    padding: 10px;
    text-align: center;
    margin: 0 10px 10px 0;
    cursor: pointer;
    transition: background-color 0.3s ease 0s;
}
.weekends-selector__item_selected {
    background-color: #000;
}