@inherits PersistentComponent<Error401ViewModel>

<PageTitle>@ViewModel.Title</PageTitle>

<div class="error-401">
    <div class="error-401__container">
        <p class="error-401__text"><span class="error-404__title">@ViewModel.Title</span> @ViewModel.Description</p>
    </div>
</div>

@code {
    protected override Task<Error401ViewModel> Initialize(Dictionary<string, string> resources)
    {
        return Task.FromResult(new Error401ViewModel(
            resources[Messages.GUI_Error401],
            resources[Messages.GUI_Unauthorized]));
    }
}