@page "/error404"

@inject ResourcesManager Resources

<MetaDataModule WebsiteSection="WebsiteSection.Error404" MetaOverrideTitle="@Resources[Messages.GUI_Error404]" />

<div class="error-404">
    <div class="error-404__container">
        <p class="error-404__text">
            <span class="error-404__title">
                @Resources[Messages.GUI_Error404]
            </span> @Resources[Messages.GUI_PageNotFound]
        </p>
    </div>
</div>