@inherits PersistentComponent<Error404ViewModel>

@page "/error404"

<MetaDataModule WebsiteSection="WebsiteSection.Error404" MetaOverrideTitle="@ViewModel.Title" />

<div class="error-404">
    <div class="error-404__container">
        <p class="error-404__text"><span class="error-404__title">@ViewModel.Title</span> @ViewModel.Description</p>
    </div>
</div>

@code {
    protected override Task<Error404ViewModel> Initialize(ResourcesManager resources)
    {
        return Task.FromResult(new Error404ViewModel(
            resources[Messages.GUI_Error404],
            resources[Messages.GUI_PageNotFound]));
    }
}