.inline-dialog {
    padding: 1rem;
    background-color: #9d9d9d;
    position: fixed;
    bottom: 0;
    display: flex;
    width: 100%;
    z-index: 1000;
}
.inline-dialog__content {
    flex: 1 1 auto;
}
.inline-dialog__actions {
    flex: 0 0 150px;
    text-align: right;
}
@media (max-width: 767.98px) {
    .inline-dialog {
        display: block;
    }
    .inline-dialog__actions {
        margin: .5rem 0 0 0;
    }
}