<div class="bot-card">
    <div class="bot-card__header">
        <div class="bot-card__avatar">
            <DynamicComponent Type="Icon" Parameters="IconParameters" />
        </div>
    </div>
    <div class="bot-card__content">
        <h3 class="bot-card__name">@Name @Content</h3>
        <div class="bot-card__actions">
            @Buttons
        </div>
    </div>
</div>

@code {
    [Parameter, EditorRequired]
    public Type Icon { get; set; } = default!;
    
    [Parameter, EditorRequired]
    public string Name { get; set; } = default!;
    
    [Parameter, EditorRequired]
    public RenderFragment Buttons { get; set; } = default!;
    
    [Parameter]
    public RenderFragment? Content { get; set; }
    
    private Dictionary<string, object> IconParameters => new()
    {
        ["Size"] = "60px",
        ["ComponentStyle"] = ComponentStyle.Secondary
    };
}