.bot-selector {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.bot-selector__card-content {
    font-size: 1.1rem;
    word-break: break-all;
    text-align: center;
}
::deep .default-card {
    margin-bottom: 40px;
    flex: 0 1 48%;
    background-color: #9d9d9d;
    text-transform: lowercase;
}
.bot-selector__button {
    margin: 5px;
    min-width: 166px;
}
@media (max-width: 991.98px) {
    ::deep .default-card {
        flex: 0 1 100%;
    }
}