.bot-selector {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
::deep .bot-selector__item {
    margin-bottom: 40px;
    flex: 0 1 48%;
    background-color: #9d9d9d;
}
.bot-selector__button {
    margin: 5px;
    min-width: 166px;
}

@media (max-width: 991.98px) {
    ::deep .bot-selector__item{
        flex: 0 1 100%;
    }
}