.bot-selector {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
::deep .loading
{
    margin-bottom: 40px;
    flex: 0 1 48%;
}
@media (max-width: 991.98px) {
    ::deep .loading {
        flex: 0 1 100%;
    }
}