@page "/constructor"
@page "/en/constructor"
@page "/ru/constructor"

@inject LanguageManager LanguageManager

<ConstructorContainer>
    <Content>
        <AuthorizeView>
            <Authorized>
                <p class="constructor__text">@_viewModel.SelectBotText</p>
                <BotSelector OwnerId="@context.User.ToPerson().Id" />
            </Authorized>
            <NotAuthorized>
                <TelegramLogin />
            </NotAuthorized>
        </AuthorizeView>
    </Content>
</ConstructorContainer>

@code {
    private ConstructorPageViewModel _viewModel = ConstructorPageViewModel.Empty;

    protected override async Task OnInitializedAsync()
    {
        var resources = await LanguageManager.GetResource();

        _viewModel = new ConstructorPageViewModel(resources[Messages.Constructor_SelectBotText]);
    }
}