@page "/constructor"
@page "/en/constructor"
@page "/ru/constructor"

@attribute [Authorize]

@inject IStringLocalizer<ConstructorResources> Localizer

<MetaDataModule
    WebsiteSection="WebsiteSection.Constructor"
    MetaOverrideTitle="@Localizer["Title"]" />

<div class="constructor">
    <div class="constructor__container">
        <h1 class="constructor__title">@Localizer["Title"]</h1>
        <AuthorizeView>
            <Authorized>
                <p class="constructor__text">@Localizer["SelectBotText"]</p>
                <BotSelector OwnerId="@context.User.ToPerson().Id" />
            </Authorized>
        </AuthorizeView>
    </div>
</div>