@page "/constructor"
@page "/en/constructor"
@page "/ru/constructor"

@inject LanguageManager LanguageManager

<PageTitle>@_viewModel.Title</PageTitle>

<NavLogin />

<div class="constructor">
    <div class="constructor__container">
        <h1 class="constructor__title">@_viewModel.Title</h1>
        <AuthorizeView>
            <Authorized>
                <p class="constructor__text">@_viewModel.SelectBotText</p>
                <BotSelector OwnerId="@context.User.ToPerson().Id" />
            </Authorized>
            <NotAuthorized>
                <TelegramLogin />
            </NotAuthorized>
        </AuthorizeView>
    </div>
</div>

@code {
    private ConstructorPageViewModel _viewModel = ConstructorPageViewModel.Empty;

    protected override async Task OnInitializedAsync()
    {
        var resources = await LanguageManager.GetResource();

        _viewModel = new ConstructorPageViewModel(
            resources[Messages.Constructor_Title],
            resources[Messages.Constructor_SelectBotText]);
    }
}