@inject LanguageManager LanguageManager

<PageTitle>@_title</PageTitle>

<div class="constructor">
    <div class="constructor__container">
        <h1 class="constructor__title">@_title</h1>
        @Content
    </div>
</div>

@code {
    [Parameter, EditorRequired]
    public RenderFragment Content { get; set; } = default!;
    
    private string _title = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        var resources = await LanguageManager.GetResource();

        _title = resources[Messages.Constructor_Title];
    }
}