@page "/constructor"
@page "/en/constructor"
@page "/ru/constructor"

@attribute [Authorize]

@inject ResourcesManager Resources

<MetaDataModule
    WebsiteSection="WebsiteSection.Constructor"
    MetaOverrideTitle="@Resources[Messages.Constructor_Title]" />

<div class="constructor">
    <div class="constructor__container">
        <h1 class="constructor__title">@Resources[Messages.Constructor_Title]</h1>
        <AuthorizeView>
            <Authorized>
                <p class="constructor__text">@Resources[Messages.Constructor_SelectBotText]</p>
                <BotSelector OwnerId="@context.User.ToPerson().Id" />
            </Authorized>
        </AuthorizeView>
    </div>
</div>