@inject IUserService UserService
@inject LanguageManager LanguageManager

<p class="telegram-login__text">@_viewModel.LoginTelegramText</p>
<div class="telegram-login__actions">
    @if (_viewModel != TelegramLoginViewModel.Empty)
    {
        <script
            async
            src="https://telegram.org/js/telegram-widget.js?22"
            data-telegram-login="@_viewModel.BotUserName"
            data-size="large"
            data-userpic="false"
            data-auth-url="accounts/login-tg"
            data-request-access="write">
        </script>
    }
</div>

@code {
    private TelegramLoginViewModel _viewModel = TelegramLoginViewModel.Empty;

    protected override async Task OnInitializedAsync()
    {
        var resources = await LanguageManager.GetResource();
        var botContext = await UserService.GetAuthBotContext();

        _viewModel = new TelegramLoginViewModel(
            resources[Messages.Constructor_LoginTelegramText],
            botContext.UserName);
    }
}