.survey-summary__content {
    max-width: 960px;
    margin: 0 auto;
}
.survey-summary__controls {
    margin-top: 1rem;
}
.survey-question {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.survey-question__stats {
    width: 260px;
}
.survey-question__comments {
    flex: 1;
}
.survey-question__comment {
    margin-bottom: .5rem;
}
.survey-question__mean {
    display: flex;
    justify-content: center;
    margin-bottom: .5rem;
}
.survey-question__answers {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.survey-question__answer {
    position: relative;
    inline-size: 40px;
    aspect-ratio: 1 / 1;
    border-radius: 10px;
    display: grid;
    place-items: center;
}
.survey-question__answer_positive {
    background-color: var(--accent-color);
}
.survey-question__answer_negative {
    background-color: var(--message-invalid-color);
}
.survey-question__answer::after {
    content: attr(data-count);
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 0 6px;
    border-radius: 999px;
    aspect-ratio: 1 / 1;
    background: var(--block-primary-color);
}
.survey-question__answer:not([data-count]), .survey-question__answer[data-count=""] {
    position: relative;
}
.survey-question__answer:not([data-count])::after, .survey-question__answer[data-count=""]::after {
    display: none;
}
@media (max-width: 479.98px) {
    .survey-question {
        flex-direction: column;
    }
    .survey-question__stats {
        width: 100%;
    }
}