<div class="form-section__field-set">
    @if (string.IsNullOrWhiteSpace(FieldId))
    {
        <span class="form-section__label">@Label</span>
    }
    else
    {
        <label for="@FieldId" class="form-section__label">@Label</label>
    }
    
    @Content
</div>

@code {
    [Parameter]
    public string FieldId { get; set; } = default!;
    
    [Parameter, EditorRequired]
    public string Label { get; set; } = default!;
    
    [Parameter, EditorRequired]
    public RenderFragment Content { get; set; } = default!;
}