@if (State.IsLoading)
{
    <div class="loading @LoadingCssClass">
        <div class="loader @LoaderCssClass"></div>
    </div>
}
else
{
    @Content
}

@code {
    [Parameter, EditorRequired]
    public RequestState State { get; set; } = RequestState.Done();
    
    [Parameter, EditorRequired]
    public RenderFragment Content { get; set; } = default!;
    
    [Parameter]
    public bool IsFullscreen { get; set; }
    
    [Parameter]
    public bool IsDark { get; set; }
    
    private string LoadingCssClass => IsFullscreen ? "loading_fullscreen" : string.Empty;
    
    private string LoaderCssClass => IsDark ? "loader_dark" : "loader_light";
}