.multiselect__item {
    display: inline-block;
    padding: 3px 10px;
    margin-right: 5px;
}
.multiselect__item_selected {
    background-color: #555;
    color: #dfdfdf;
}
.form-control_enabled .multiselect__item_selected, .form-control_enabled .multiselect__item:hover {
    background-color: #555;
    color: #dfdfdf;
    cursor: pointer;
}