<div class="estimate">
    <StoryDetails Story="Story" />
    <div>
        <div class="estimate__items">
            @foreach (var storyForEstimate in Story.StoryForEstimates)
            {
                <EstimateCard
                    PersonId="storyForEstimate.ParticipantId"
                    Name="@storyForEstimate.ParticipantName">
                    <Content>
                        <span class="story__value">@storyForEstimate.DisplayValue</span>
                    </Content>
                </EstimateCard>
            }
        </div>
    </div>
    <StoryTotal Story="Story" HasAcceptedValue="HasAcceptedValue" />
</div>

@code {
    [Parameter, EditorRequired]
    public StoryDto Story { get; set; } = default!;
    
    [Parameter]
    public bool HasAcceptedValue { get; set; }
}