<ol class="breadcrumbs">
    @foreach(var item in Items)
    {
        <li class="breadcrumbs__item">
            <RouterLink Href="@item.Value" IsDark="true">
                <Content>@item.Title</Content>
            </RouterLink>
        </li>
    }
</ol>

@code {
    [Parameter, EditorRequired]
    public IReadOnlyCollection<SelectItem<NavRoute>> Items { get; set; } = Array.Empty<SelectItem<NavRoute>>();
}