<div class="user-card @CssClass">
    <div class="user-card__header">
        <img src="/photos/@PersonId" alt="user avatar" class="user-card__avatar" />
    </div>
    <div class="user-card__content">
        <h3 class="user-card__name">@Name</h3>
        @Content
    </div>
</div>

@code {
    [Parameter, EditorRequired]
    public long PersonId { get; set; }
    
    [Parameter, EditorRequired]
    public string Name { get; set; } = default!;
    
    [Parameter, EditorRequired]
    public bool IsDarkTheme { get; set; }
    
    [Parameter]
    public RenderFragment? Content { get; set; }
    
    private string CssClass => IsDarkTheme ? "user-card_dark" : string.Empty;
}