<div class="story">
    <h2 class="story__title">@Story.Title</h2>
    @if (Story.Links.Any())
    {
        <ul class="story__items">
            @foreach (var link in Story.Links)
            {
                <li class="story__item">
                    <RouterLink Href="@link" Target="@RouterTarget.Blank">
                        <Content>@link</Content>
                    </RouterLink>
                </li>
            }
        </ul>
    }
</div>

@code {
    [Parameter, EditorRequired]
    public StoryDto Story { get; set; } = default!;
}