<div class="story">
    @if (String.IsNullOrWhiteSpace(Story.Url))
    {
        <h2 class="story__title">@Story.Title</h2>
    }
    else
    {
        <h2 class="story__title">
            <RouterLink Href="@Story.Url" Target="@RouterTarget.Blank">@Story.Title</RouterLink>
        </h2>
    }
</div>

@code {
    [Parameter, EditorRequired]
    public StoryDto Story { get; set; } = default!;
}